{% extends 'adminpanel/base.html' %}
{% block content %}
<h2>Services List</h2>

<table class="list-table">
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Category</th>
            <th>Provider Name</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>

    <tbody>
        {% for s in services %}
        <tr>
            <td>{{ s.title }}</td>
            <td>{{ s.category }}</td>
            <td>{{ s.provider.full_name }}</td>
            <td>{{ s.provider.city }}</td>
            <td>{{ s.provider.state }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No services found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
